

# Ignore environment variables
.env
services/user_management/.env

# todo lists
todo.md
todo.txt

# notes
notes.md

# Ignore Python virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Docker build artifacts
*.log
docker-compose.override.yml